#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.item-list-container {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #e1e7ff;
  border-radius: 8px;
  margin-top: 2rem;
}

.item-list-container h1 {
  color: #00319b;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.item-list-container p {
  color: #0175aa;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
